@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210, 40%, 98%; /* black-haze-50 */
    --foreground: 222, 47%, 11%; /* mirage-900 */

    --card: 222, 47%, 11%; /* mirage-900 */
    --card-foreground: 210, 40%, 98%; /* black-haze-50 */

    --popover: 210, 40%, 98%; /* black-haze-50 */
    --popover-foreground: 222, 47%, 11%; /* mirage-900 */

    --primary: 224, 71%, 40%; /* cobalt-800 */
    --primary-foreground: 0, 0%, 100%; /* slate-50 */

    --secondary: 175, 84%, 32%; /* teal-600 */
    --secondary-foreground: 0, 0%, 100%; /* slate-50 */

    --muted: 214, 32%, 91%; /* zumthor-200 */
    --muted-foreground: 222, 47%, 11%; /* mirage-900 */

    --accent: 222.67, 76.33%, 48.04%; /* cobalt-700 */
    --accent-foreground: 214, 32%, 91%; /* mirage-900 */

    --destructive: 0, 84.2%, 60.2%; /* coral-red-500 */
    --destructive-foreground: 0, 0%, 100%; /* slate-50 */

    --border: 214, 32%, 91%; /* zumthor-200 */
    --input: 214, 32%, 91%; /* zumthor-200 */
    --ring: 224, 71%, 40%; /* cobalt-800 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222, 47%, 11%; /* mirage-900 */
    --foreground: 0, 0%, 100%; /* slate-50 */

    --card: 0, 0%, 100%; /* slate-50 */
    --card-foreground: 222, 47%, 11%; /* mirage-900 */

    --popover: 222, 47%, 11%; /* mirage-900 */
    --popover-foreground: 0, 0%, 100%; /* slate-50 */

    --primary: 224, 71%, 40%; /* blue-800 */
    --primary-foreground: 0, 0%, 100%; /* slate-50 */

    --secondary: 175, 84%, 32%; /* teal-600 */
    --secondary-foreground: 0, 0%, 100%; /* slate-50 */

    --muted: 222, 47%, 11%; /* mirage-900 */
    --muted-foreground: 0, 0%, 100%; /* slate-50 */

    --accent: 210, 96.36%, 78.43%; /*cobalt-600 */
    --accent-foreground: 212.55, 74.63%, 59.8%; /* mirage-500 */

    --destructive: 0, 84.2%, 60.2%; /* coral-red-500 */
    --destructive-foreground: 0, 0%, 100%; /* slate-50 */

    --border: 222, 47%, 11%; /* mirage-900 */
    --input: 222, 47%, 11%; /* mirage-900 */
    --ring: 224, 71%, 40%; /* blue-800 */

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .font-title {
    @apply font-sans text-xl font-bold select-text text-balance sm:text-2xl;
  }
  .font-subtitle {
    @apply font-sans text-lg font-bold select-text text-balance sm:text-xl;
  }
  .font-paragraph {
    @apply font-serif font-normal text-base text-balance select-text md:text-lg;
  }
  .font-pre {
    @apply font-mono text-base font-light text-balance;
  }
}
